html {
    body {
        overflow-x: hidden;

        .h310 {
            height: 310px;
        }

        .product-title {
            height: 64px;
        }

        .card-body {
            padding: 0;

            .cartbtn {
                background: black;
                color: white;
                width: 100%;
            }

            .btnActive {
                background: rgb(216, 163, 27);
                color: black;
                width: 100%;
            }

        }

        .cbtn {
            .btn {
                margin: 10px;
                border: none;
                border-radius: 0;
                background-color: rgb(228, 228, 230);
                color: black;

                // &:hover{

                // }
            }

            .active {
                background-color: black;
                color: rgb(228, 228, 230);
            }

            input {
                display: none;
            }
        }



    }
}